	body{
		width:100%; 
		text-align:center; 
		font-family: Arial;
	}

	a{
		text-decoration:none;
	}

	a:hover {
		text-decoration: underline;
	}

	#main1{
		margin: 0 auto -4em;
		text-align: center;
		width: 990px;
		height: 800px;
		font-size: 16px;
		color: black;
		position:absolute;
		top: 10px;
		background-image: url(../k_images/main-socialV2.png);
		background-repeat: no-repeat;
	}

	#top-nav {
		width:800px;
		font-family: archivo;
		font-size: 24px;
		font-weight: bold;
		margin-top: 170px;
		margin-left:95px;

	}
	.headline {
		font-size: 42px;
		font-family: arial;
		font-color: #3399CC;
		font-weight: bold;
		margin-top: 20px;
	}
	#banner-home {
		font-size: 42px;
		font-family: arial;
		font-color: #3399CC;
		font-weight: bold;
		margin-top: 20px;
	}

	#banner-whatsthat {
		font-size: 42px;
		font-family: arial;
		font-color: #3399CC;
		font-weight: bold;
		margin-top: 20px;
	}

	#banner-shouldicare {
		font-size: 42px;
		font-family: arial;
		font-color: #3399CC;
		font-weight: bold;
		margin-top: 20px;
	}

	#banner-wecanhelp {
		font-size: 42px;
		font-family: arial;
		font-color: #3399CC;
		font-weight: bold;
		margin-top: 20px;
	}
	#banner-aboutus {
		font-size: 42px;
		font-family: arial;
		font-color: #3399CC;
		font-weight: bold;
		margin-top: 20px;
	}
	#callmebutton{
		position:absolute;
		top: 600px;
		left:430px;

	}

	#legal{
		position:absolute;
		top: 780px;
		left: 400px;
		text-align: center;
		font-size: 10px;
	}

	.proposal {
		text-align: center;
		vertical-align: middle;
		margin-left: 12px;
		margin-right: 12px;
		margin-top: 25px;
		padding-top: 5px;
		width:500px;
		font-size: 18px;
		color: black;
		display: inline-block;
		position: absolute;
		top:260px;
		left: 220px;
	}
#lnk-home-button{}
#lnk-what-button{}

